    <!--NAVIGATION-->

<nav  class="navbar navbar-light bg-light mb-5">
    <div class="container">
    <!--LOGO-->  
<a class="navbar-brand" > <img src="images/logo.png" height="40px" class="d-inline-block align-top" alt=""></a>
<li class="nav-item dropdown ">
    <!--LOGOUT-->
    <a class="nav-link dropdown-toggle " data-toggle="dropdown">
         <span class="font-weight-bold">Username <img class="ml-4 mb-3" src="images/avatar.png" ></img></span>  
         </a>  <div class="dropdown-menu ">
            <a class="dropdown-item" href="#" > <i class="material-icons  ">exit_to_app</i>Logout   </a>
     </div>        
</li>
         </div>
</nav>